ul { padding: 0; list-style: none;}
.pnpref { opacity: 0.6; }
.instant-results { height: auto; }
.list-group-item {
border-left: 0;
border-right: 0;
display: flex;
flex-direction: column;
}

.progress-container {
display: flex;
}

.pn-progbar {
height:40px;
flex:1;
margin: 1px;
}

.pn-progbar .progress-bar {
	justify-content: center;
	display: flex;
	flex-direction: column;
	line-height: 1;
	background-color: #4ab69c;
}

.text-condition-nomatch {
color: #ccc;
}

.text-condition-match {
color: #4ab69c;
}

.pn-progbar-container {
	display: flex;
	flex-direction: row;
	align-content: center;
}

.result-checks {
/* display: flex; */
}

.result-checks li {
	padding: 0 15px 0 0;
}

.chosen_format_part {
	cursor:default;
	padding: 2px 4px;
	text-transform: uppercase;
	border-radius: 3px;
	font-size: 0.9em;
	color: #595959;
	border: 1px solid #c6c6c6;
	margin-right: 4px;
	line-height: 1;
	box-shadow: 0 0 0 1px rgba(89,105,129,0.1), 0 1px 3px 0 rgba(89,105,129,0.1), 0 1px 2px 0 rgba(0,0,0,0.05);
}

.chosen_format_part_correct {
background-color: #def7ee;
color: #137752;
border-color: #137752;
}

.prog-bar {
display:flex;
flex-direction: column;
height: 200px;
}

.prog-bar .passed, .prog-bar .failed  {
position: relative;
display: flex;
align-items: center;
margin-bottom: 1px;
padding-left: 60px;
font-size: 11px;
background: #f1f1f1;
}

.prog-bar .passed:before, .prog-bar .failed:before {
border-radius: 2px;
position: absolute;
top: 0;
left: 0;
content: attr(data-before-content);
height: 100%;
display: flex;
align-items: center;
width: 50px;
font-size: 10px;
font-weight: bold;
justify-content: center;
}

.prog-bar .failed:before {
background: #ccc;
color: #000;
}

.prog-bar .passed:before {
background: #4ab69c;
color: #fff;
}