doctype html
head
  link(rel='stylesheet' href='/css/styles.css' crossorigin='anonymous')
  script(src='/js/modules.js')
  script(src='/js/app.js')
body(ng-app="validatorApp")
  .container(style='margin-top: 15vh;')
    div(ng-controller='ValidatorController as v')
      .row
        .col-md-12
          .panel.panel-default
            .panel-heading
              h6(style='display: inline-block; margin: 8px 0;') Bestellen
            .panel-body
              ul.list-unstyled.result-bucket
                li
                  small
                    strong Select the brand you are adding:
                  br
                  .btn-group
                    button.btn.btn-default.btn-sm(class="{{ format.brand === v.activeFormat.brand ? 'active' : '' }}" ng-click='v.setActiveFormat(format)' ng-repeat='format in v.formats' ng-if='format.active' style='margin-right: 5px;') {{ format.brand }}
                li.list-group-item(ng-if='v.activeFormat')
                  div
                    span {{ v.activeFormat.brand }} 
                    |  - 
                    strong
                      span(ng-repeat='(key,part) in v.activeFormat.example' ng-class="v.result.example_matches.indexOf(key+1) !== -1 ? 'chosen_format_part chosen_format_part_correct' : 'chosen_format_part'") {{ part }}
                  div
                    small
                      | {{ v.result.rate }}% match
                    .prog-bar
                      .prog-bar-inner(ng-repeat='msg in v.result.messages' class="{{ msg.pass ? 'passed' : 'failed' }}" data-before-content='{{ msg.weightwidth || 0 }}%' style='flex:{{msg.weightwidth/10 | number:1}}') {{ msg.description }}
                  ul.small.result-checks
                    li(ng-if='v.result.messages' ng-repeat='msg in v.result.messages')
                      span(ng-if='msg.pass == true')
                        span.fas.fa-check.text-condition-match
                      span(ng-if='msg.pass == false')
                        span.fas.fa-check.text-condition-nomatch
                      |                         {{ msg.description }}
                    li(ng-repeat='cond in v.activeFormat.conditions')
                      div(ng-repeat='msg in v.result.message')
                        span(ng-if='cond.description === msg.description')
                          span(ng-if='msg.pass == true')
                            span.fas.fa-check.text-condition-match
                          span(ng-if='msg.pass == false')
                            span.fas.fa-check.text-condition-nomatch
                          |                             {{ msg.description }}
              .row
                .col-md-12
                  .col-md-1.no-margin.no-padding.pull-left
                    a.btn.btn-default(title='Annuleren' style='height: 36px;')
                      i.fa.fa-undo
                  .col-md-4.no-margin.no-padding.pull-left
                    input#search_field_purchaseOrder(ng-model='v.userInput' ng-change='v.validate()' oninput='this.value = this.value.toUpperCase()' style='margin-left: -13%; width: 82%;' type='text' name='addToPurchaseOrder' placeholder="{{ !v.activeFormat ? 'Choose a brand first' : 'Enter product number' }}" size='30' value='{{ v.userInput | uppercase }}')
                    button.btn.btn-md.btn-default.product-search-btn
                      i.fa.fa-search